/*
1. Variables
2. Default set (* {box-sizing, margin & padding} html {REM defaults & main font})
3. Posicionamiento (position, display, etc.)
4. Modelo de caja (Box model - widht/height/).
5. Tipografía (fuentes y tamaños)
6. Visuales (Shadow-box, Borders, background-color, color)
7. Otros - Miscelaneous
 
Estas sera el orden en el que daremos stylos a nuestro proyecto*/


/* Crearemos nuestras variables */
:root{
    /* Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #f3dbc7;
    --secondary-blue: #1a9af7;
    --soft-blue: #c8dff0;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --soft-white: #e7e7e7;
    --just-white: #fff;
}
/* Quitaremos todas las propiedas que vienen por defecto */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
     /* esto para poder hacer el uso de rem, cambiando la base que tiene por defecto el 
    navegador que es una base 16px y la pasaremos a una base 10px ya que sera mas facil
    calcular el numero de la 16px*62.5% = 10px*/
    font-size: 62.5%;
    /* aqui solo pondemos nuestra fuente base, y la otra fuente la usaremos solo en 
    ciertos elementos especificos*/
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    /* esta es la forma de centrar a un contenedor que tenga*/
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    /*es como el espacio entre las lineas del texto*/
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--button{
    position: absolute;
    left: calc(50% - 114.5px);
    /*la mitad del tamano de mi boton*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 240px;
    height: 48px;
    background-color: var(--soft-white);
    /* Sombra*/
    box-shadow: 0px 15px 20px rgba(31, 26, 11, 0.692);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main{
    width: 100%;
    height: auto;
    background-color: var(--just-white);
}
.main-section1{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    
}
.exchange-container--title {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.main-section1 .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-section1 h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-section1 p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-tables--slider{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 10px;
}
.main-tables--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
  }
.main-tables--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
  }
.main-currency-table, .main-comission-table{
    width: 70%;
    max-width: 500px;
    min-width: 230px;
    height: 360px;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
}
.main-tables-container span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-comission-table .comission-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
    text-align: center;
}
.currency-table--container, .comission-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto; 
    background-color: var(--just-white);
    box-shadow: 10px 20px 25px 5px rgba(19, 8, 8, 0.377);
    border-radius: 12px;
    
}
.currency-table--container table, .comission-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td, .comission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__rigth, .comission-table--container .table__rigth{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--warm-black );
}
.comission-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.comission-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--warm-black);
}
.main-section2{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto; 
    /* auto hace que el contenedor su altura sea correspondiente al tamano que ocupe su contenido*/
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #807979;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .icon-card{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clock{
    background-image: url(./assets/icons/clock.svg);
}
.eye{
    background-image: url(./assets/icons/eye.svg);
}
.dollar{
    background-image: url(./assets/icons/dollar-sign.svg);
}
.circle{
    background-image: url(./assets/icons/check-circle.svg);
}
.product-card--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-card--body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img--container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img--container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}
.main-plans--container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto; 
    /* auto hace que el contenedor su altura sea correspondiente al tamano que ocupe su contenido*/
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
   
}
.plans--title p{
    padding-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    padding-top: 30px;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 20px;
    
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 230px;
    max-width: 300px;
    height: 250px; 
    /* auto hace que el contenedor su altura sea correspondiente al tamano que ocupe su contenido*/
    margin: 50px 15px 0;
    padding: 0 15px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow:  0px 4px 8px rgba(19, 8, 8, 0.377);
    background-color: var(--just-white);
    margin-bottom: 10px;
}
.plans-container--slider::-webkit-scrollbar {
  background-color: var(--soft-orange);
  height: 3px;
}
.plans-container--slider::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
}
.fondo2{
    background-color: rgb(151, 201, 248);
}
.fondo3{
    background-color: rgb(61, 59, 59);
}
.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    font-size: 1.4rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    left: calc(50% - 60px);
    top: -15px;
    color: var(--just-white);
    padding: 6px;
    font-weight: bold;
}
.plans-container--div h3{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    text-align: center;
}
.plan-class-price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    color: var(--warm-black);
}
.plan-class-price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--button{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    border: 2px var(--bitcoin-orange) solid;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    font-family: 'DM Sans', sans-serif;
}
.plan-card--button span{
    background-image: url(./assets/icons/orange-right-arrow.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
}
.tarjeta2{
    background-color: #1197f7;
}
.tarjeta3{
    background-color: rgb(41, 39, 29);
}
.tarjetita2 .plan-card--button{
    border: 2px #1197f7 solid;
}
.tarjetita2 .plan-card--saving{
    color: var(--warm-black)
}
.tarjetita3 .plan-class-price{
    color: var(--just-white);
}
.tarjetita3 h3{
    color: gold;
}

.tarjetita3 .plan-card--saving{
    color: gold;
}
.tarjetita3 .plan-card--button{
    border: 2px var(--warm-black) solid;
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 10px 0;
}
.left a{
    text-decoration: none;
    color: var(--just-white);
}

